.product {
  display: flex;
  flex-direction: column;
  color: #2a343e;
}
.product-image {
  display: flex;
  justify-content: center;
  align-items: end;
  max-width: 200px;
}
.product-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 25px;
}
.product-description {
  max-width: 300px;
  font-weight: 299;
  margin-bottom: 15px;
  min-height: 75px;
  line-height: 1.4;
}
.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price {
  font-weight: bolder;
  margin-right: 10px;
}

.product-action-right {
  display: flex;
  justify-content: space-around;
}
.product-heart {
  cursor: pointer;
}
.product-cart {
  cursor: pointer;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}

.product-cart::before {
    content: "";
    position: absolute;
    background-color: #2a343e;
    top: -10px;
    z-index: -1;
    left: -8px;
    bottom: -8px;
    right: -12px;
    border-radius: 50px;
}